body {
  text-align: center;
}
header {
  padding: 30px;
  margin-bottom: 30px;
  font-size: 30px;
  background-color: rgb(68, 65, 65);
}
#screen {
  font-size: 20px;
  margin: auto;
  width: 500px;
  padding-top: 120px;
  padding-bottom: 120px;
  user-select: none;
}
#screen.waiting {
  background-color: aqua;
  color: rgb(28, 30, 202);
}
#screen.ready {
  background-color: red;
  color: white;
}
#screen.now {
  background-color: greenyellow;
}
